<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<div class="container mt-5 mb-5">
    <h1>Add student</h1>
    <form action="/student/add" method="post">
        <input type="text" name="firstName" placeholder="Enter student's First name" class="form-control"><br>
        <input type="text" name="lastName" placeholder="Enter student's Last name" class="form-control"><br>
        <input type="email" name="email" placeholder="Enter student's email" class="form-control"><br>
        <input type="password" name="password" placeholder="Enter student's password" class="form-control"><br>
        <button type="submit" class="btn btn-success">Add</button>
    </form>

</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>